{% extends "layout.html" %}
{% block title %}
{{_('Add contribution for {0}').format(member.username) }}
{% endblock %}
{% block body %}
  <form role="form" class="form-horizontal" method="post" action="">
    {{form.hidden_tag()}}
      {% for field in form if field.widget.input_type != 'hidden' %}
        {% set error = ' has-error' if field.errors %}
        {% if field.name == 'date' %}
        <div class="form-group input-append date" id="dp3" data-date="{{field.value}}" data-date-format="yyyy-mm-dd">
          {{ field.label(class="col-sm-2 control-label") }}
          <div class="col-sm-10">
            <div class="input-group">
              {{ field(class="form-control") }}
              <span class="add-on input-group-addon glyphicon glyphicon-calendar"></span>
            </div>
          </div>
        </div>
        {% else %}
        <div class="form-group{{error}}">
          {{ field.label(class="col-sm-2 control-label") }}
          <div class="col-sm-10">
            {{ field(class="form-control") }}
          </div>
          <ul class="has-error">
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endfor %}
    <button class="btn btn-primary" type="submit" name="addcontribution" />
      {{ _('Add Contribution')}}
    </button>
  </form>
{%endblock %}
{%block script%}
  {{ super() }}
  <script src="{{url_for('static', filename='js/bootstrap-datepicker.js')}}"></script>
  <script>
    $('#dp3').datepicker()
  </script>
{%endblock %}
