{% extends "layout.html" %}
{% block title %}
  {{_('Member List')}}
{% endblock %}
{% block body %}
    <table>
        <thead>
            <tr>
                <th>{{ _('id')}}</th>
                <th>{{ _('email')}}</th>
                <th>{{ _('reddit accout')}}</th>
                <th>{{ _('valid until')}}</th>
                <th>{{ _('fee ok')}}</th>
                <th>{{ _('account ok')}}</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td> {{ member.id }}</td>
                <td> {{ member.email }}</td>
                <td> {{ member.reddit_account }}</td>
                <td> {{ member.expire_at() }}</td>
                <td> {{ member.fee_ok }}</td>
                <td> {{ member.account_ok }}</td>
            </tr>
            {% endfor %}
        </tbody>
    <table>


    <h2>{{_('Add a member')}}</h2>
    <form method="post" action="">
        {{form.hidden_tag()}}
        <dl>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <dt> {{ field.label }}
                <dd> {{ field }}
                <div class=error>
                  {% for error in field.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
            {% endfor %}
        </dl>
        <input type=submit name=addmember />
    </form>
{% endblock %}

