{% extends "layout.html" %}
{% block title %}
  {{_('Member List')}}
{% endblock %}
{% block body %}
  <table class="table">
    <thead>
      <tr>
        <th>{{ _('id')}}</th>
        <th>{{ _('email')}}</th>
        <th>{{ _('reddit accout')}}</th>
        <th>{{ _('valid until')}}</th>
        <th>{{ _('fee ok')}}</th>
        <th>{{ _('account ok')}}</th>
        <th>{{ _('add payement')}}</th>
      </tr>
    </thead>
    <tbody>
    {% for member in members %}
      <tr>
        <td> {{ member.id }}</td>
        <td> {{ member.email }}</td>
        <td> {{ member.reddit_account }}</td>
        <td> {{ member.expire_at() }}</td>
        <td> {{ member.fee_ok }}</td>
        <td> {{ member.account_ok }}</td>
        <td><a href="{{url_for('add_contribution',member_id=member.id)}}">
          {{ _('add payement') }}
        </a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2>{{_('Add a member')}}</h2>
  <form role="form" class="form-horizontal" method="post" action="">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
    {% set error = ' has-error' if field.errors %}
      <div class="form-group{{error}}">
        {{ field.label(class="col-sm-2 control-label") }}
        <div class="col-sm-10">
          {{ field(class="form-control") }}
        </div>
          <ul class="help-block has-error">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit" name="addmember"/>
      {{ _('add user')}}
    </button>
  </form>
{% endblock %}

