<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>lpeManager</title>
    {% block head %}
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
      <link href="{{ url_for('static', filename='css/default.css')}}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='css/tabs.css')}}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='css/tabs-panes.css')}}" rel="stylesheet" type="text/css" />
      <script src="{{url_for('static', filename='libs/jquery-1.6.2.min.js')}}"></script>
      <script src="{{url_for('static', filename='libs/jquery-tools-1.2.5.min.js')}}"></script>
    {% endblock %}
  </head>
  <body>
    <div id=global>
      <div id=header>
        {% if get_flashed_messages() %}
          <div id="messages">
            {% for message in get_flashed_messages() %}
              <p class="message">
                {{ message }}
              </p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div id=banner>
        <div id=title>
          {% block title %}{% endblock -%}
        </div>
      </div>
      <div id=menu>
        {% block menu -%}{% endblock -%}
      </div>
      <div id="colTwo">
        {% block body %} {% endblock %}
      </div>
    </div>
    <div id="footer">
      <p>lpeManager {{ g.version }}</p>
    </div>
    {% block script %}
      <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
    {% endblock -%}
  </body>
</html>
