<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>lpeManager</title>
    {% block head %}
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
      <link href="{{ url_for('static', filename='css/screen.css')}}" rel="stylesheet" type="text/css" />
    {% endblock %}
  </head>
  <body>
    <div id=global>
      <div id=header>
        {% if get_flashed_messages() %}
          <div id="messages">
            {% for message in get_flashed_messages() %}
              <p class="message">
                {{ message }}
              </p>
            {% endfor %}
          </div>
        {% endif %}
        <div id="user">
          {{ g.user.username }} <a href="{{ url_for('logout') }}">Disconnect<a>
        </div>
      </div>
      <div id=banner>
        <div id=title>
            <h1>{% block title %}{% endblock -%}</h1>
        </div>
      </div>
      <div id=menu>
        {% block menu -%}{% endblock -%}
      </div>
      <div id="colTwo">
        {% block body %} {% endblock %}
      </div>
    </div>
    <div id="footer">
      <p>lpeManager {{ g.version }}</p>
    </div>
    {% block script %}
      <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
    {% endblock -%}
  </body>
</html>
